# OS
#------------------------
.DS_Store
*~


# Python/Jupyter
#------------------------
.python-version
*.pyc


# Dirs
#------------------------
data/
NLP_udacity/.git*
NLP_udacity/nltk_data/
NLP_udacity/cache/
NLP_udacity/data/


# Files
#------------------------
*.txt
