# OS
#------------------------
.DS_Store
*~


# Python/Jupyter
#------------------------
.python-version
*.pyc
.ipynb_checkpoints/


# Dirs
#------------------------
data/
udacity/.git*
udacity/nltk_data/
udacity/cache/
udacity/data/


# Files
#------------------------
*.txt
*.h5
